<!-- 搜索组件 -->
<div class="search-container">
    <button id="search-btn" class="search-btn" title="搜索">
        <i class="fas fa-search"></i>
    </button>
</div>

<!-- 搜索弹窗 -->
<div id="search-mask" class="search-mask"></div>
<div id="search-box" class="search-box">
    <div class="search-input-container">
        <input type="text" id="search-input" class="search-input" placeholder="搜索文章..." autocomplete="off">
        <button id="search-close" class="search-close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div id="search-result" class="search-result"></div>
</div>